<nz-spin [nzSpinning]="loading">
    <a  nz-button nzType="primary" style="width: 100%;" [routerLink]="['create']">Add</a>
    <nz-table #basicTable [nzData]="items" (nzPageIndexChange)="onPageChange($event)" [nzPageIndex]="page" [nzTotal]="count">
        <thead>
            <tr>
                <th>Id</th>
                <th>Model</th>
                <th>Number</th>
                <th>Mileage</th>
                <th>Type</th>
                <th>Status</th>
                <th><i nz-icon nzType="delete" nzTheme="outline"></i></th>
                <th><i nz-icon nzType="edit" nzTheme="outline"></i></th>
            </tr>
            
        </thead>
        <tbody>
            <tr *ngFor="let data of basicTable.data">
                <td>{{data.id}}</td>
                <td>{{data.model}}</td>
                <td>{{data.number}}</td>
                <td>{{data.mileage}}</td>
                <td>{{data.type}}</td>
                <td>{{data.status}}</td>
                <td><a (click)="deleteItem(data)" ><i nz-icon nzType="delete" nzTheme="outline"></i></a></td>
                <td><a [routerLink]="[data.id]"><i nz-icon nzType="edit" nzTheme="outline"></i></a></td>

            </tr>
           
            
        </tbody>
    </nz-table>
</nz-spin>