<ul nz-menu nzTheme="dark" nzMode="horizontal" [nzInlineCollapsed]="isCollapsed" style="width: 100%;">
    <li *ngFor="let item of items" nz-menu-item>
        <a [routerLink]="[item.link]">{{item.title}}</a>
    </li>
</ul>