<nz-spin [nzSpinning]="loading">
    <a  nz-button nzType="primary" style="width: 100%;" [routerLink]="['create']">Add</a>
    <nz-table #basicTable [nzData]="items" (nzPageIndexChange)="onPageChange($event)" [nzPageIndex]="page" [nzTotal]="count">
        <thead>
            <tr>
                <th>Id</th>
                <th>Estimated Revenue</th>
                <th>Distance</th>
                <th>Transport Type</th>
                <th>Transport</th>
                <th>Start City</th>
                <th>Finish City</th>
                <th>Start Date</th>
                <th>Finish Date</th>
                <th>Status</th>
                <th><i nz-icon nzType="delete" nzTheme="outline"></i></th>
                <th><i nz-icon nzType="edit" nzTheme="outline"></i></th>
            </tr>
            
        </thead>
        <tbody>
            <tr *ngFor="let data of basicTable.data">
                <td>{{data.id}}</td>
                <td>{{data.estimatedRevenue}}{{data.revenueCurrency}}</td>
                <td>{{data.distance}}km</td>
                <td>{{data.transportType}}</td>
                <td>{{data.transport.model}}</td>
                <td>{{data.startCity.name}}</td>
                <td>{{data.finishCity.name}}</td>
                <td>{{data.startDate | date:'shortDate'}}</td>
                <td>{{data.finishDate | date:'shortDate'}}</td>
                <td>{{data.status}}</td>

                <td><a (click)="deleteItem(data)" ><i nz-icon nzType="delete" nzTheme="outline"></i></a></td>
                <td><a [routerLink]="[data.id]"><i nz-icon nzType="edit" nzTheme="outline"></i></a></td>

            </tr>
           
            
        </tbody>
    </nz-table>
</nz-spin>