<form nz-form *ngIf="!loading">
    <br />
    <nz-form-item>
        <nz-form-label [nzSpan]="5">Start City</nz-form-label>
        <nz-form-control [nzSpan]="12">
            <select-items [view]="cityView" [searchField]="'name'" [repository]="citiesRepository"
                [(item)]="item.startCity" [onItemSelected]="onStartCitySelected"></select-items>
        </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <nz-form-label [nzSpan]="5">Finish City</nz-form-label>
        <nz-form-control [nzSpan]="12">
            <select-items [view]="cityView" [searchField]="'name'" [repository]="citiesRepository"
                [(item)]="item.finishCity" [onItemSelected]="onFinishCitySelected"></select-items>
        </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <nz-form-label [nzSpan]="5">Estimated Revenue</nz-form-label>
        <nz-form-control [nzSpan]="12">
            <input [(ngModel)]="item.estimatedRevenue" name="estimatedRevenue">
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSpan]="5">Revenue Currency</nz-form-label>
        <nz-form-control [nzSpan]="12">
            <nz-select [(ngModel)]="item.revenueCurrency" name="revenueCurrency">
                <nz-option *ngFor="let item of currencies" [nzValue]="item" [nzLabel]="item"></nz-option>
            </nz-select>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSpan]="5">Transport type</nz-form-label>
        <nz-form-control [nzSpan]="12">
            <nz-select [(ngModel)]="item.transportType" name="transportType">
                <nz-option *ngFor="let item of transportTypes" [nzValue]="item" [nzLabel]="item"></nz-option>
            </nz-select>
        </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <nz-form-label [nzSpan]="5">Transport</nz-form-label>
        <nz-form-control [nzSpan]="12">
            <select-items [view]="transportView" [searchField]="'model'" [repository]="transportsRepository"
                [filters]="transportFilters" [(item)]="item.transport" [onItemSelected]="onTransportSelected">
            </select-items>
        </nz-form-control>
    </nz-form-item>

    <nz-form-item *ngIf="item.startCity != null && item.finishCity != null">
        <nz-form-label [nzSpan]="5">Distance</nz-form-label>
        <nz-form-control [nzSpan]="12">
            {{distance }}km
        </nz-form-control>
    </nz-form-item>
    <div nz-row style="margin-top: 8px" *ngIf="needCreate || item.status=='pending'">
        <div nz-col nzSpan="5"></div>

        <div nz-col nzSpan="12">
            <button nz-button class="login-form-button login-form-margin" style="width: 100%;" [nzType]="'primary'"
                (click)="save(item)">Save</button>
        </div>

        <div nz-col nzSpan="7"></div>
    </div>
    <div nz-row *ngIf="!needCreate && item.status=='in-progress'" style="margin-top: 8px">
        <br/>
        <div nz-col nzSpan="5"></div>

        <div nz-col nzSpan="12" >
            <button nz-button class="login-form-button login-form-margin" style="width: 100%;" [nzType]="'primary'" (click)='finish()' >Finish</button>
        </div>

        <div nz-col nzSpan="7"></div>
    </div>

    <div nz-row *ngIf="!needCreate && item.status=='pending'" style="margin-top: 8px">
        <div nz-col nzSpan="5"></div>

        <div nz-col nzSpan="12">
            <button nz-button class="login-form-button login-form-margin" style="width: 100%;" [nzType]="'primary'" (click)='start()' >Start</button>
        </div>

        <div nz-col nzSpan="7"></div>
    </div>
</form>

<!-- <nz-form-item *ngIf="item.startCity != null && item.finishCity != null">
    <nz-form-label [nzSpan]="5">Distance</nz-form-label>
    <nz-form-control [nzSpan]="12">
        {{distance }}km
    </nz-form-control>
</nz-form-item>
<button nz-button (click)='start()' *ngIf="item.status=='pending'">Start</button>
<button nz-button (click)='finish()' *ngIf="item.status=='in-progress'">Finish</button> -->

<!-- <form nz-form *ngIf="!needCreate">
    <br />
    <nz-form-item>
        <nz-form-label [nzSpan]="5">Start City</nz-form-label>
        <nz-form-control [nzSpan]="12">
            {{item.startCity.name}}
        </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <nz-form-label [nzSpan]="5">Finish City</nz-form-label>
        <nz-form-control [nzSpan]="12">
            {{item.finishCity.name}}
        </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <nz-form-label [nzSpan]="5">Estimated Revenue</nz-form-label>
        <nz-form-control [nzSpan]="12">
            {{item.estimatedRevenue}}
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSpan]="5">Revenue Currency</nz-form-label>
        <nz-form-control [nzSpan]="12">
            {{item.revenueCurrency}}
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSpan]="5">Transport type</nz-form-label>
        <nz-form-control [nzSpan]="12">
            {{item.transportType}}
        </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <nz-form-label [nzSpan]="5">Transport</nz-form-label>
        <nz-form-control [nzSpan]="12" *ngIf="item.transport != null && !setTransport">
            {{item.transport.model}}
            <a nz-button (click)="changeTransport()">edit</a>
        </nz-form-control>

        <nz-form-control [nzSpan]="12" *ngIf="!item.transport || setTransport">
            <select-items [view]="transportView" [searchField]="'model'" [repository]="transportsRepository"
                [filters]="transportFilters" [item]="item.transport" [onItemSelected]="onTransportSelected">
            </select-items>
            <button nz-button (click)="save(item)">Save</button>
        </nz-form-control>


    </nz-form-item>

    <nz-form-item *ngIf="item.startCity != null && item.finishCity != null">
        <nz-form-label [nzSpan]="5">Distance</nz-form-label>
        <nz-form-control [nzSpan]="12">
            {{distance }}km
        </nz-form-control>
    </nz-form-item>
    <button nz-button (click)='start()' *ngIf="item.status=='pending'">Start</button>
    <button nz-button (click)='finish()' *ngIf="item.status=='in-progress'">Finish</button>
</form> -->