<nz-spin [nzSpinning]="loading">
    <form nz-form [formGroup]="form" class="login-form" (ngSubmit)="submit()">
        <br />
        <nz-form-item *ngIf="!needCreate">
            <nz-form-label [nzSpan]="5">Id</nz-form-label>
            <nz-form-control [nzSpan]="12">
                <nz-input-group>
                    {{item.id}}
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSpan]="5">Number</nz-form-label>
            <nz-form-control [nzSpan]="12">
                <nz-input-group>
                    <input type="text" nz-input formControlName="number" />
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSpan]="5">Model</nz-form-label>
            <nz-form-control [nzSpan]="12">
                <nz-input-group>
                    <input type="text" nz-input formControlName="model" />
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSpan]="5">Mileage</nz-form-label>
            <nz-form-control [nzSpan]="12">
                <nz-input-group>
                    <input type="text" nz-input formControlName="mileage" />
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSpan]="5">Type</nz-form-label>
            <nz-form-control [nzSpan]="12">
                <nz-select formControlName="type" [disabled]="!needCreate">
                    <nz-option *ngFor="let item of types" [nzValue]="item" [nzLabel]="item"></nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item *ngIf="!needCreate">
            <nz-form-label [nzSpan]="5">Status</nz-form-label>
            <nz-form-control [nzSpan]="12">
                <nz-input-group>
                    {{item.status}}
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>

        <div nz-row>
            <div nz-col nzSpan="5"></div>
            <div nz-col nzSpan="12">
                <button nz-button class="login-form-button login-form-margin" style="width: 100%;"
                    [nzType]="'primary'">Save</button>
            </div>

            <div nz-col nzSpan="7"></div>
        </div>

    </form>
</nz-spin>